{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}

    {% for messageFlash in app.flashes('success') %}
        <div class="alert alert-success mt-3">
            {{ messageFlash }}
        </div>
    {% endfor %}

    <h1 class="my-4 text-center fw-bold">Infos sur l'évènement</h1>

    <div class="row w-25 m-auto">
        <div class="mb-5">
            <div class="card text-center">
                <div class="card-header">
                    <h3>{{ event.name }}</h3>
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <p class="card-text">{{ event.description}}</p>
                </div>
                <div class="card-footer text-muted">
                    <p class="mb-0">Date : <span class="fw-bold">{{ event.startDate|date('d.m.Y') }} - {{ event.endDate|date('d.m.Y') }}</span></p>
                </div>
            </div>
        </div>
        <div class="d-flex gap-5">
            <a href="{{ path('app_event_edit', { id: event.id }) }}" class="btn btn-primary w-50">Editer</a>
            <a href="{{ path('app_event_delete', { id: event.id }) }}" class="btn btn-primary w-50">Supprimer</a>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <a href="{{ path('app_events') }}" class="btn btn-danger">Retour à la liste des évènements</a>
    </div>

{% endblock %}
